*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

